<!DOCTYPE html>
<html>
<title>COVID-19 Track</title>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form name = logon method = post>
<table>
<tr>
<td colspan = 2>COVID-19 Track</td>
</tr>
<tr>
<td>Name：</td>
<td><input type = text name = name size = 16/></td>
</tr>
<tr>
<td>Age：</td>
<td><input type = text name = Age size = 16/></td>
</tr>

  <tr>
<td>postcode：</td>
<td><input type = text name = postcode size = 16/></td>
</tr>
  <tr>
<td>phone number：</td>
<td><input type = text name = phone size = 16/></td>
</tr>
   <tr>
<td>email：</td>
<td><input type = text name = "email" size = 16/></td>
</tr>

<tr>
<td><input type = submit value = submit></td>
</tr>
</table>
</form>
</body>
</html>