<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>COVID-19 Track</title>
</head>
   <body>
     <h3>List in NHS</h3>
    Name
        <br>
         <input type = "text" name = "nm" value="{{ data[0].s_name }}"/>
        </br>
    Age
        <br>
         <input type = "text" value = "{{ data[0].age }}" />
        </br>

         postcode
        <br>
         <input type = "text" value = "{{ data[0].postcode }}" />
        </br>

        phone
        <br>
         <input type = "text" value = "{{ data[0].phone }}" />
        </br>
         email
        <br>
         <input type = "text" value = "{{ data[0].email }}" />
        </br>
   </body>
</html>